services:
  db:
    image: postgres:15-alpine
    container_name: devops_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: Devops
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: devops_app
    restart: always
    depends_on:
      - db
    environment:
      # This is what your Nest/Prisma should read
      DATABASE_URL: "postgresql://postgres:admin@db:5432/Devops?schema=public"
      PORT: 3000
      NODE_ENV: production
    ports:
      - "3000:3000"

volumes:
  postgres_data:
